<% provide(:title, 'All users') %>
<%= link_to new_user_path, class: "new_link" do %>
  <%= image_tag "signin.svg" %>
  新規登録
<% end %>
<%= link_to "修正依頼状況",attendances_path, class: "button right" %>

<table id="users">
  <tr>
    <th>社員番号</th>
    <th>社員名</th>
    <th>時間(出退など)</th>
    <th>修正依頼(直近)</th>
    <th>修正依頼理由</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <%= render user %>
    </tr>
  <% end %>

</table>
