@import "bootstrap-sprockets";
@import "bootstrap";

.new_link, .logout {
  text-decoration: none;
  display: flex;
  right: 0;
  position: absolute;
  font-family: monospace;
  color: #333333;
  width: fit-content;
  img {
    width: 2rem;
  }
  &:hover {
    text-decoration: none;
    color:#333333
  }
}

.new_link {
  left: 0;
}

.user_search, .attendance_search, .signin_form, .login_form {
  width: 80%;
  border: 1px solid black;
  background-color: rgba(24, 24, 220, 0.696);
  margin: auto;
  margin-top: 4em;
  font-size: 1rem;
  padding: 2rem;
}

.user_search, .attendance_search {
  background-color: white;
  display: flex;
  * {
    margin-bottom: 0;
    height: 2em;
  }
  .search_button {
    width: 6em;
    text-align: center;
  }
  .search {
    background-color: rgba(68, 118, 188, 0.494);
  }
}

label {
  font-size: 2em;
}

input, textarea {
  border: 1px solid rgb(241, 239, 239);
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

input {
  height: auto !important;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-check-input{
  width: 1rem;
}


.signin_button, .login_button {
  display: block;
  width: 30%;
  margin: 0 auto;
  font-size: 2rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

.attendance_button {
  height: 2em;
  width: 3em;
  font-size: 9rem;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  border-radius: 3em;
}

#modification_button {
  margin: 1em auto;
  display: flex;
  width: 6em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed; /* 画面に固定 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* または必要なサイズ */
  background: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1050; /* オーバーレイより上 */
  overflow-y: auto;
  .form {
    height: 100%;
  }
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .btn {
    display: block;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  label {
    font-size: 1em;
    font-weight: initial;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
  z-index: 1040; /* モーダルより下 */
}

#current_time {
  font-size: 200%;
}

#attendance_message_attributes_receiver_id {
  display: block;
}

#attendance_message_attributes_content {
  width: 100%;
  margin-left: 0;
  resize: none;
}

.close-modal {
  border-style: none;
  background-color: white;
}

button {
  a {
    color: #333333;
  }
}

table {
  border: solid 1px;
  th {
    border: solid 1px;
    color: #333333;
  }
}

.button {
  display: inline-block;
  border-style: solid;
  color: black;
  background-color: rgb(225, 224, 224);
  border-width:1px;
  border-color: darkgray;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:#333333;
  }
}

.right {
  left: 0;
  top: 1.5em;
  position: absolute;
}

.low {
  top: 3.0em;
}

.search_though_date {
  display: flex;
}