@import "bootstrap-sprockets";
@import "bootstrap";


.login_form {
  width: 80%;
  border: 1px solid black;
  background-color: rgba(24, 24, 220, 0.696);
  margin: auto;
  margin-top: 4em;
}

label {
  font-size: 2em;
}

input, textarea {
  border: 1px solid rgb(241, 239, 239);
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

input {
  height: auto !important;
}


.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  p {
    margin-left: 20px;
    vertical-align: middle;
    height: 100%;
  }
  #session_remember_me {
    width: auto;
    margin-left: 0;
    vertical-align: middle;
    height: 100%;
  }
}


.login_button {
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed; /* 画面に固定 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* または必要なサイズ */
  background: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1050; /* オーバーレイより上 */
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
  z-index: 1040; /* モーダルより下 */
}

#current_time {
  font-size: 200%;
}

#_message_receiver_id {
  display: block;
}

#_message_content {
  display: block;
  width: 100%;
  margin-left: 0;
}

.close-modal {
  border-style: none;
  background-color: white;
}

.taikin {
  width: 100%;
  margin-top: auto;
  text-align: center;
  margin-bottom: 5%;
}